[Unit]
Description=Mailhog service
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/env /usr/local/bin/mailhog > /dev/null 2>&1 &
StandardOutput=journal
Restart=on-failure
# Maildir storage options
# User=aom
# Group=aom
# ExecStart=/usr/local/bin/mailhog  -hostname mailhog.infinene.net -storage maildir -maildir-path /home/aom/Maildir

[Install]
WantedBy=multi-user.target
